<div fxFlex class="padding-20">
	<div fxLayout="row" fxLayoutAlign="space-between center">
		<h2>IRIS KPMG Risk Advisory</h2>
		<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
			<mat-form-field color="primary" appearance="outline">
				<input
					matInput
					[matDatepicker]="picker"
					placeholder="Choose a date"
					(dateInput)="filterChats($event)"
					[(ngModel)]="datePickerValue"
				/>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			<mat-form-field  color="primary" appearance="outline">
				<mat-label>Score Level</mat-label>
				<mat-select [(value)]="defaultScore" (selectionChange)="filterWithScore()">
					<mat-option *ngFor="let score of scores" [value]="score.value" >
						{{ score.viewValue }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div fxLayout="row wrap" fxLayoutAlign="space-between start">
		<mat-accordion
			style="width: 300px; margin: 20px 0; background: #ffffff; border-radius: 8px;"
			*ngFor="let chat of allChats"
			class="mat-elevation-z0"
		>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						<span class="type-badge red" *ngIf="chat.score <= 50">P</span>
						<span class="type-badge green" *ngIf="chat.score > 50">OK</span>
					</mat-panel-title>
					<mat-panel-description> Avg. chat score: {{ chat.score }} </mat-panel-description>
				</mat-expansion-panel-header>
				<div class="grey-background">
					<div style="max-height: 300px; overflow: auto; padding-left: 24px;">
						<div class="padding-vertical-5">
							<div class="mat-body-2">Timestamp:</div>
							<div class="mat-caption">{{ chat.timestamp | date }}</div>
						</div>
						<mat-divider></mat-divider>
						<div class="padding-vertical-5">
							<div class="mat-body-2">Id:</div>
							<div class="mat-caption">{{ chat.id }}</div>
						</div>
						<mat-divider></mat-divider>
						<div fxLayout="row">
							<div fxFlex="90">
								<div class="padding-vertical-5">
									<div class="mat-body-2">Question:</div>
									<div class="mat-caption">{{ chat.question }}</div>
								</div>
								<mat-divider></mat-divider>
								<div class="padding-vertical-5">
									<div class="mat-body-2">Answer:</div>
									<div class="mat-caption">{{ chat.answer }}</div>
								</div>
							</div>
							<div>
								<button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
									<mat-icon>chevron_right</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<div (click)="$event.stopPropagation()">
										<p style="padding: 0 16px; font-weight: 700;">Add to Intent</p>
										<mat-divider></mat-divider>
										<div style="padding: 10px 16px;">
											<div style="padding: 7px;">{{chat.question}}</div>
											<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
												<mat-form-field appearance="outline">
													<mat-label>Select Intent</mat-label>
													<mat-select>
														<mat-option
															*ngFor="let intent of dropdownMenu"
															[value]="intent.value"
														>
															{{ intent.viewValue }}
														</mat-option>
													</mat-select>
												</mat-form-field>
												<button mat-icon-button (click)="saveTheData(); menuTrigger.closeMenu()">
													<mat-icon>save</mat-icon>
												</button>
											</div>
										</div>
									</div>
								</mat-menu>
							</div>
						</div>
						<mat-divider></mat-divider>
						<div class="padding-vertical-5">
							<div class="mat-body-2">Score:</div>
							<div class="mat-caption">{{ chat.score }}</div>
						</div>
					</div>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>
