<mat-toolbar color="primary" class="mat-elevation-z4">
	<div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch" style="height: 100%;">
		<div
			fxFlex="20"
			style="height: 100%; width: 200px; background: url('../assets/KPMG_logo.svg'); background-size: 50%; background-repeat: no-repeat; background-position: left center;"
		></div>
		<div fxFlex="60" fxLayout="row" fxLayoutAlign="center end">
			<nav mat-tab-nav-bar color="primary" backgroundColor="primary">
				<a
					mat-tab-link
					*ngFor="let link of navLinks"
					[routerLink]="link.path"
					routerLinkActive
					#rla="routerLinkActive"
					[active]="rla.isActive"
				>
					{{ link.label }}
				</a>
			</nav>
		</div>
		<div fxFlex="20" fxLayout="row" fxLayoutAlign="end center">
			<div
				style="height: 40px; 
							width: 40px; 
							border-radius: 100%; 
							background: url('../assets/userFace.jpg');
							background-size: cover;
							background-position: center; background-repeat: no-repeat;"
			></div>
			<div fxLayout="row">
				<div fxLayout="column" style="padding: 8px 16px; overflow: hidden;">
					<span class="mat-body-2 text-overflow-hidden">Andy Joe</span>
					<span class="mat-caption" style="margin-top: -5px;">
						andy@kpmg.com
					</span>
				</div>
			</div>
		</div>
	</div>
</mat-toolbar>

<router-outlet></router-outlet>
