<mat-toolbar color="primary" class="mat-elevation-z4">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch" style="height: 100%;">
        <div fxFlex="20" style="height: 100%; width: 200px; background: url('../assets/KPMG_logo.svg'); background-size: 50%; background-repeat: no-repeat; background-position: left center;"></div>
        <div *ngIf="headerService.showheaderSubComponents" fxFlex="60" fxLayout="row" fxLayoutAlign="center end">
            <nav mat-tab-nav-bar color="primary" backgroundColor="primary">
                <a mat-tab-link *ngFor="let link of headerService.showNavLinks" [routerLink]="link.path" routerLinkActive="active" #rla="routerLinkActive"
                    [attr.active]="rla.isActive">
                    {{ link.label }}
                </a>
            </nav>
        </div>
        <div *ngIf="headerService.showheaderSubComponents" fxFlex="20" fxLayout="row" fxLayoutAlign="end center">
            <div style="height: 40px; 
							width: 40px; 
							border-radius: 100%;
							border: 1px solid #fff;">
                <button mat-icon-button>
                    <mat-icon>person</mat-icon>
                </button>
            </div>
            <div fxLayout="row">
                <div fxLayout="column" style="padding: 8px 16px; overflow: hidden;">
                    <span class="mat-body-2 text-overflow-hidden">Welcome</span>
                    <span class="mat-caption" style="margin-top: -5px;">
                        {{headerService.userRole}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>
