/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@include mat-core();
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	height: 100%;
	background: #ececec;
	font-size: 14px;
	font-weight: 400;
	background: #37004329;
    background-size: cover;
	background-position: center;
	background-repeat: repeat;
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

.padding-20 {
	padding: 20px;
}

.type-badge {
	font-size: 12px;
	color: #ffffffff;
	padding: 2px 4px;
	min-width: 14px;
	border-radius: 46%;
	text-align: center;
	margin-left: 5px;
}

.background-white {
	background: #ffffff !important;
}

.white {
	color: white;
}

.red {
	background: red;
}

.green {
	background: green;
}

.grey-background {
	background: rgba(0, 0, 0, 0.04);
}

.padding-vertical-5 {
	padding: 5px 0;
}

::ng-deep .mat-expansion-panel-body {
	padding: 0 !important;
}

::ng-deep .mat-form-field-wrapper {
	margin: 0 !important;
	padding: 0 !important;
}

::ng-deep .mat-expansion-panel {
	box-shadow: none !important;
	border: 1px solid #dadce0;
}

::ng-deep .mat-accordion {
	box-shadow: 5px 5px 1px 0 rgba(46, 61, 73, 0.2);
}

::ng-deep .mat-accordion:hover {
	box-shadow: 2px 4px 4px 0 rgba(46, 61, 73, 0.2);
}

.height-dashboard {
	height: calc(100vh - 53px);
}

.padding-0-20 {
	padding: 0 20px;
}